<aside class="main-sidebar sidebar-light-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="/Template/images/bs.png" alt="Berkay Sezer logo" class="brand-image"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Admin Paneli</span>
    </a>

    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/Admin" class="nav-link">
                        <i class="fa-solid fa-home"></i>
                        <p>
                            Ana Sayfa
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Title" class="nav-link">
                        <i class="fa-solid fa-heading"></i>
                        <p>
                            Başlık
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Content" class="nav-link">
                        <i class="fa-solid fa-list"></i>
                        <p>
                            İçerik
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Service" class="nav-link">
                        <i class="fa-solid fa-store"></i>
                        <p>
                            Hizmetler
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Skill" class="nav-link">
                        <i class="fa-solid fa-bars-progress"></i>
                        <p>
                            Yetenekler
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Project" class="nav-link">
                        <i class="fa-solid fa-hand-holding-hand"></i>
                        <p>
                            Projeler
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Client" class="nav-link">
                        <i class="fa-solid fa-users"></i>
                        <p>
                            Müşteriler
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Message" class="nav-link">
                        <i class="fa-solid fa-message"></i>
                        <p>
                            Mesajlar
                        </p>
                    </a>
                </li>
                <li class="nav-header">KULLANICI</li>
                <li class="nav-item">
                    <a href="/Admin/User" class="nav-link">
                        <i class="fa-solid fa-gear"></i>
                        <p>
                            Ayarlar
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>