@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
	<div class="container-fluid">
		@await Component.InvokeAsync("PageHeader", new { header = ViewBag.Header})
	</div>
</div>
