<div class="text-center mb-5">
    <h2 class="marker marker-center">My Services</h2>
</div>
<div class="text-center">
    <p class="mx-auto mb-3" style="max-width:600px"> I offer services fit for any website or app. I can quickly maximize timely deliverables for real-time schemas.</p>
</div>