@using EntityLayer.Concrete
@model Service
<div class="text-center mb-5">
	<h2 class="marker marker-center">Hizmetler</h2>
</div>
<div class="text-center">
	<p class="mx-auto mb-3" style="max-width:600px">@Model.Title</p>
</div>