@using EntityLayer.Concrete
@model Announcement
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Writer/Views/Shared/_WriterLayout.cshtml";
}
<div class="row">
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@Model.Title <small class="text-muted">@Model.Date.ToString("dd.MM.yyyy HH:mm")</small></h4>
                <p class="font-weight-500">@Model.Content</p>
                <hr />
            </div>
        </div>
    </div>
</div>

