<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Yazar Paneli</title>

    <link rel="stylesheet" href="~/template/writer/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/template/writer/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/template/writer/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/template/writer/css/vertical-layout-light/style.css">
    <link rel="shortcut icon" href="~/template/writer/images/favicon.png" />
</head>